<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/css/2-col-portfolio.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">HackerHelpers
					<small>Get help from local hackers!</small>
				</div>
			</div>
		</div>
	
	<form>
  <div class="form-group">
	  <label for="exampleInputEmail1">What's the best email to reach you at?</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Organization Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New York City Tree Hugger Society">
  </div>
  <div class="form-group">
	  <label for="projectName"> Project Title </label>
	  <input type="text" class=form-control" id="project_name">
  </div>
  <div class="form-horizontal">
  <div class="form-group">
  <div class="col-md-6">
	  <label for="projectDescription"> Describe your project to us. Lots of detail, please! </label>
	  <input type="textarea" class="form-control" rows="10"id="project_description">
  </div>
  </div>
  </div>
  <div class="form-group">
    <label for="exampleSelect2">Let's learn a little more about your organization. Select all that apply</label>
    <select multiple class="form-control" id="tags">
      <option>women's shelters</option>
      <option>homelessness</option>
      <option>hunger</option>
      <option>education</option>
      <option>environment</option>
      <option>political</option>
      <option>immigration</option>
      <option>religious</option>
      <option>animals</option>
    </select>
  </div>
<div class="form-group">
	<label for="experience\">What level of experience are you looking for?</label>
    <select class="form-control" id="level">
      <option>beginner</option>
      <option>intermediate</option>
      <option>advanced</option>
    </select>

  <div class="form-group">
    <label for="logo">If you have a logo, upload it here</label>
    <input type="file" class="form-control-file" id="logo" aria-describedby="fileHelp">
  </div>
     <button type="submit" class="btn btn-primary">Submit</button>

</form>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"</script>

    </div>
</body>

</html>
